body {
    margin: 0;
    padding: 0;
    color: #353535; /* #353535 */
    font-family: Baskerville, serif;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

h1, h2, h3, h4, h5, .byline {
    font-family: 'Fira Code', 'DeJa Vu Mono', monospace;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -0.25em;
    padding: 0.25em 0.25em 0.1em 0em;
    line-height: 123%;
}

.title, .byline {
    font-weight: bold;
}

.byline {
	margin-top: -0.8em;
}

.title {
    margin-bottom: 0.5em;
}

.headline-word {
    display: inline;
    color: white;
    background: black;
    padding: 0.25em 0.25em 0.1em 0.25em;
    margin-bottom: 0.1em;
    border: solid 1px black;
}

nav {
    text-align: center;
    margin: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    border: 0 0.5em 0 0.5em; 
}

nav ul li + li::before {
    content: " | "
}

nav ul * a {
    color: black;
}

p, img {
    margin-top: 0;
    max-width: 100%;
    text-align: justify;
    text-align-last: left;
}

h2 {
    margin-top: 2em;
}

h2 + p,
h3 + p {
    margin-top: 0.5em;
}


pre {
    padding: 8px;
    display: block;
    border-left: solid #0151b1 2px;
    margin: 0px 10px 10px 10px;
}

pre:before {
    content: attr(language);
    display: block;
    font-family: serif;
    font-style: italic;
}

div .sourceCode, pre {
    overflow: auto;
}

code { 
    color: #770000;
    font-family: 'Fira Code', monospace; 
    font-size: 80%;
}

@supports (font-variation-settings: normal) {
    code { 
        font-family: 'Fira Code VF', monospace;
        font-size: 80%;
    }
}

quot, blockquote {
    font-style: italic;
}

blockquote {
    border-left: solid #7c7c7c 2px;
    padding-left: 8px;
}

@media (max-width: 47em) {
    main {
        margin-left: 1em;
        margin-right: 1em;
    }

    .title {
	font-size: 250%;
	margin-top: 0.7em;
    }

    .byline {
        font-size: 180%;
        margin-bottom: 1.5em;
    }

    p {
	    line-height: 1.75em;
    }
    
    .date {
	    font-size: 120%;
    }
    .date p {
	    padding: 0;
    }
}

/* 45em + 1em margin left + 1em margin right */
@media (min-width: 47em) {
    main {
        margin: 0 auto;
        margin-bottom: 5em;
        max-width: 45em; 
    }

    .title {
        margin-top: 1em;
        font-size: 300%;
    }

    .byline {
        font-size: 200%;
        margin-bottom: 2em;
    }

    p {
    	line-height: 1.5;
    }
    
    .date {
	    font-size: 150%;
    }

    figure {
        max-width: 15em;
        float: right;
        margin: 0em 0 1em 1em;
    }
}

.date {
    font-family: 'Fira Code', 'DeJa Vu Mono', monospace;
    margin-top: -2em;
    float: right;
}

.date p {
    padding: 0;
    margin: 0;
}

a[target~="_blank"]:after {
    content: "⧉";
    vertical-align: super;
    font-size: smallest;
}

summary div {
    display: inline;
}

.pub {
    margin: -0.5em 0em 1em 1em;
}

.pub > * {
    margin-left: 0.25em;
}

@media (scripting: none) {
    h1, h2, h3, h4, h5, .byline {
        background-color: black;
        display: table;
    }
}

footer {
    text-align: center;
    margin-top: 8em;
}

footer img {
    max-width: 1em;
    max-height:1em;
    margin-left: .2em;
    vertical-align: bottom;
    padding-bottom: 0.07em;
}

.plant { border: solid 3px black; padding: 0.5em; display: block }
.center, .centre { margin: 0 auto 1em auto; width: 75%; }

@media (min-width: 47em) {
  .right { float: right; margin: 0 0 1em 1em; width: 30%; }
  .left { float: left; margin: 0 1em 1em 0em; width: 30%; }
  .wider { margin: 0; width: 45%; }
}
@media (max-width: 47em) {
  .left, .right { margin: 0 auto 1em auto; width: 75%; }
}

.plant .common-name { font-size: 20px; display: block; }
.plant .latin-name { font-size: inherit; font-style: italic; color: #666;}
.plant img { float: right; max-width: 100%; margin-left: 0.5em; }
.plant .description p { line-height: 1.2; margin-bottom: 0; }
.cultivar { font-style: italic; font-size: 16px; }
.cultivar::before { content: "("; }
.cultivar::after { content: ")"; }
.growing-calendar { padding-bottom: 0.5em; padding-top: 0.5em; }
.growing-calendar table { margin: 0 auto; border-collapse: collapse; }
.growing-calendar tr { border: solid 1px black; }
.growing-calendar tr td { width: 2em; height: 1em; border: solid 1px black; text-align: center; color: #black; }
.growing-calendar tr.legend td { height: 1em; width: 6em; border: solid 1px black; text-align: center; color: black; }

.sew-indoors { background-color: lightgreen; }
.left .legend .sew-indoors::after, .right .legend .sew-indoors::after { content: "SI" }
.centre .legend .sew-indoors::after { content: "Sew Indoors" }

.sew-indoors-outdoors { background: 
    linear-gradient(to bottom, transparent 50%, lightgreen 50%), 
    linear-gradient(100deg, yellow, yellow); 
}


.flower { background-color: pink; }
.left .legend .flower::after, .right .legend .flower::after { content: "F" }
.centre .legend .flower::after { content: "Flower" }

.harvest { background-color: CornflowerBlue; }
.left .legend .harvest::after, .right .legend .harvest::after { content: "H" }
.centre .legend .harvest::after { content: "Harvest" }


.plant-out { background-color: darkseagreen; }
.left .legend .plant-out::after, .right .legend .plant-out::after { content: "P" }
.centre .legend .plant-out::after { content: "Plant Out" }

.sew-outdoors { background-color: yellow; }
.left .legend .sew-outdoors::after, .right .legend .sew-outdoors::after { content: "SO" }
.centre .legend .sew-outdoors::after { content: "Sew Outdoors" }

hr {
    border: none; 
    margin: 3em auto 3em auto;
}
hr::before {
    content: "***";
    display: block;
    color: #aaa;
    text-align:center;
    font-size: x-large;
}

.footnotes hr {
    border: solid 1px #aaa;
    margin: 3em auto 1em auto;
}
.footnotes hr::before {
    content: "";
}
